#travel-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    color: #2ecc71;
    /* Verde vivace */
    font-size: 1.8rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
}

/* Effetto sottolineatura dinamico */
#travel-list::after {
    content: '';
    position: absolute;
    bottom: -5px;
    width: 60%;
    height: 4px;
    background: linear-gradient(90deg, #2ecc71, #3498db);
    transition: width 0.3s ease-in-out;
}

#travel-list:hover::after {
    width: 100%;
}

#accordion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px;
    padding: 20px;

    /* blocca altezza delle altre card nella stessa riga */
    align-items: flex-start;
}

.contact-card {
    width: 100%;
    max-width: 350px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    background-color: #00183b;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
    color: white;
}


/* Stile per l'header della card */
.contact-card .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    background-color: #00183b;
    border-radius: 8px;
}


/* Stile per l'icona e il titolo */
.contact-card .card-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

/*  */
.contact-card .user {
    color: #0b0014;
    font-size: 1rem;
    background-color: #2ecc70;
    padding: 0.7rem;
    border-radius: 100%;
}

/* Stile della freccia */
.fa-chevron-down,
.fa-chevron-up {
    font-size: 1.2rem;
    color: #2ecc71;
}

/* Stile per il corpo della card */
.contact-card .card-body {
    padding: 10px;
    background-color: #00183b;

    border-top: 1px solid #ddd;
}


/* EFFETTI HOVER */
.contact-card:hover {
    transform: scale(1.02);
}


/* Responsività */
@media (max-width: 768px) {
    .contact-card {
        width: 90%;
    }
}