li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/***************************** FOOTER *****************************/
footer {
    background-color: #00183B;
    padding: 50px 0;

}


/* channel side */

.social-links {
    padding: 20px 0;
}

.channel {
    display: flex;
}

.single-channel {
    margin-right: 25px;
    font-size: 1.3rem;
}

.single-channel a:hover {
    color: #d9d9d9fa;
}

/* link side */
.member-footer-links {
    display: flex;
}

.footer-link {
    font-size: 0.9rem;
    padding: 0px 50px 10px 0px;
}

.footer-linka {
    color: #c6c6c6;
}

.footer-link:hover .footer-linka {
    color: #fbfbfb;
    text-decoration: underline;
    text-decoration-color: #bdbdbd;
    text-underline-offset: 4px;
}

/* member-footer-service */
.service-code {
    font-size: 0.9rem;
    margin-bottom: 20px;
    padding: .5em;
    border: 1px solid grey;
    background: transparent;
    color: grey;
    cursor: pointer;
}

.service-code:hover {
    color: rgb(213, 213, 213);
}

/* member-footer-service */
.member-footer-copyright {
    color: #5a5a5a;
    font-size: 0.7rem;
}