/* style per home page */

.card-home .card {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px !important;
    width: 300px;
    overflow: hidden;
    /* Per evitare che gli angoli arrotondati vengano tagliati */
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    background-color: #fff;
    /* Colore di sfondo della card */
}

.card-home .card-image {
    width: 100%;
}

.card-home .card-image img {
    width: 100%;
    height: 200px;
    padding: 2px;
    object-fit: cover;
    transition: transform 0.3s ease;
    /* Aggiunta transizione per l'immagine */
}

.card-home .card-body {
    padding: 15px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.card-home .card:hover {
    transform: scale(1.05);
    /* Leggero ingrandimento della card */
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    /* Ombra più evidente */
    background-color: #f0f8ff;
    /* Cambiamento di colore dello sfondo */
}

.card-home .card:hover .card-image img {
    transform: scale(1.1);
    /* Ingrandimento dell'immagine */
}

.card-home .card-body:hover {
    color: #3498db;
    /* Cambiamento di colore del testo quando si passa sopra la card */
}

.card-home .card-title {
    font-size: 1.2em;
    color: #333;
    font-weight: bold;
}

.card-home .card-description {
    font-size: 1em;
    color: #777;
}

/* Media query per tablet */
@media (max-width: 768px) {
    .card-home .card {
        width: 400px;
        /* Aumento della larghezza della card per i tablet */
    }

    .card-home .card-image img {
        height: 300px;
        /* Aumento dell'altezza dell'immagine sui tablet */
    }
}