.jumbotron {
    background-image: url('../../jumbo/jumbo_homepage.jpg');
    background-size: cover;
    background-position: center;
    height: 550px;
    background-position: center 35%;
}

.jumbotron div {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.jumbotron div form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
}

/* REGOLE TEXT BAR  */
.jumbotron div form input {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    padding: 0 60px;
    font-size: 20px;
    margin-right: 10px;
    opacity: 0.5;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
    border: 1px solid green;
}

.jumbotron div form input {
    border: 2px solid gray;
    transition: border-color 0.3s ease-in-out;
}

.jumbotron div form input:focus {
    border-color: green;
    outline: none;
}

.jumbotron div form input:focus-visible {
    background-color: white;
    opacity: 0.8;
}

/* REGOLE SEARCH BUTTON */
.jumbotron form button {
    height: 50px;
    padding: 10px;
    font-size: 23px;
    background-color: rgba(248, 248, 248, 0);
    border: 1px solid rgba(248, 248, 248, 0);
    color: white;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
}